* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
}
.app {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.app__header h1:hover {
  position: relative;

  animation-name: title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes title {
  0% {
    color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    top: 0px;
  }

  75% {
    left: 0px;
  }
  100% {
    color: lightgreen;
    left: 0px;
    top: 0px;
  }
}
.app__header {
  display: flex;
  color: red;
  justify-content: space-between;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app__right .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.app__graph {
  flex-grow: 1;
}
.app__information > h2 {
  color: #6a5d5d;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.app__right__title {
  margin-top: 20px;
}

.app__left {
  flex: 0.9;
}
.app__dropdown1 {
  margin-bottom: 10px;
  margin-right: 23px;
  background-color: white;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
